:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.text-purple {
  color: purple
}

.div-pokemon {
  width: 200px;
}

.img-pokemon {
  height: 200px;
}

.bg-pokemon {
  background-image: url("./background.jpg");
  background-size: cover ;
  background-repeat: no-repeat;
}


.card-pokemon:hover {
  cursor: pointer;
}

.card-pokemon img{
  padding: 25px 25px;
  transition: 200ms;
}

.card-pokemon:hover img {
  padding: 20px 5px;  
  transition: 200ms;
}

.types{
  font-size: 0.8rem;
  font-weight: bold;
}
.normal {
  background-color: #A8A878;
  color: #000;
}

.fire {
  background-color: #F08030;
  color: #000;
}

.water {
  background-color: #6890F0;
  color: #000
}

.grass {
  background-color: #78C850;
  color: #000
}

.electric {
  background-color: #F8D030;
  color: #000
}

.ice {
  background-color: #98D8D8;
  color: #000
}

.fighting {
  background-color: #C03028;
  color: #000
}

.poison {
  background-color: #A040A0;
  color: #000
}

.ground {
  background-color: #E0C068;
  color: #000
}

.flying {
  background-color: #A890F0;
  color: #000
}

.psychic {
  background-color: #F85888;
  color: #000
}

.bug {
  background-color: #A8B820;
  color: #000
}

.rock {
  background-color: #B8A038;
  color: #000
}

.ghost {
  background-color: #705898;
  color: #000
}

.dragon {
  background-color: #7038F8;
  color: #000
}

.dark {
  background-color: #705848;
  color: #000
}

.steel {
  background-color: #B8B8D0;
  color: #000
}

.fairy {
  background-color: #EE99AC;
  color: #000
}

